# Flask Configuration
FLASK_PORT=3737
FLASK_DEBUG=True

# Model Configuration
HUGGINGFACE_MODEL_ID=hemangjoshi37a/autotrain-ratnakar_1000_sample_curated-1474454086
HUGGINGFACE_TOKEN=

# API Configuration
API_PREFIX=/api
CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
